
@{
    ViewBag.Title = "Success!";
}

<div class="body-content-padded">
    <h2>Successful Submission!</h2>
    <p>Thank you for contacting KYHBPA! Your message was sent successfully, and we will get back to you as soon as possible.</p>
    <p><a href="~/Home/">Return to homepage</a></p>
</div>
