@using KYHBPA.Models
@model IEnumerable<KYHBPA.Models.Post>

@{
    ViewBag.Title = "Blog | KYHBPA";
}


<div class="body-content-padded">
    <h2>Blog</h2>
    <br />

    @foreach (var post in Model)
    {
        @Html.Partial("_PostSummary", post)
    }
</div>