<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" href="~/">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("My Profile", "Profile", "Member")</li>
        </ul>
    </li>
</ul>	