@{
    ViewBag.Title = "Board Of Directors";
}

<br />
<center><h2 style="font-family:Garamond;">Kentucky HBPA's Board of Directors</h2></center>
<br />

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Rick Hiles</h3>
            <p><b>President</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:Rickhiles1@aol.com" target="_blank">Rickhiles1@aol.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Frank Jones, Jr.</h3>
            <p><b>Vice President</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:jjohnson@recrenoics.com" target="_blank">jjohnson@recrenoics.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Dale Romans</h3>
            <p><b>Vice President</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:dalerracing@aol.com" target="_blank">dalerracing@aol.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Martin Maline</h3>
            <p><b>Executive Director</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:kymarty@aol.com" target="_blank">kymarty@aol.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">John Griffith</h3>
            <p><b>Treasurer</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:margaritaville52@yahoo.com" target="_blank">margaritaville52@yahoo.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Sara Toomey</h3>
            <p><b>Executive Assistant</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:kentuckyhbpa@gmail.com" target="_blank">kentuckyhbpa@gmail.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Mark C. Bacon</h3>
            <p><b>Owner Director</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:mark_bacon@b-f.com" target="_blank">mark_bacon@b-f.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">F. Thomas Conway</h3>
            <p><b>Owner Director</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:ftconway@yahoo.com" target="_blank">ftconway@yahoo.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Travis Foley Jr.</h3>
            <p><b>Owner Director</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:g.foley@gregfoleyracing.com" target="_blank">g.foley@gregfoleyracing.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">William (Buff) Bradley</h3>
            <p><b>Trainer Director</b></p>

        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:buffracing@aol.com" target="_blank">buffracing@aol.com</a></p>
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">William R. Connelly</h3>
            <p><b>Trainer Director</b></p>
        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:billconnelly1956@gmail.com" target="_blank">billconnelly1956@gmail.com</a></p>
        <br />
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">John Hancock</h3>
            <p><b>Trainer Director</b></p>
        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:jadstables@hotmail.com" target="_blank">jadstables@hotmail.com</a></p>
        <br />
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">Ken McPeek</h3>
            <p><b>Trainer Director</b></p>
        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:kenny@mcpeekracing.com" target="_blank">kenny@mcpeekracing.com</a></p>
        <br />
    </div>
</div>

<div class="col-sm-3">
    <img src="~/Images/bod.png" alt="" data-mh="bottomTextStyle" style="height: 300px; width: 275px;">
    <div class="table">
        <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
            <h3 style="color:darkcyan">R.C. Sturgeon</h3>
            <p><b>Alternate Trainer Director</b></p>
        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Email: <a href="mailto:bobbysturgeon@gmail.com" target="_blank">bobbysturgeon@gmail.com</a></p>
    </div>
</div>
