
@{
    ViewBag.Title = "Board Of Directors";
}

<h2>Board Of Directors</h2>

<meta property="og:title" content="Board of Directors" />



<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="Rick Hiles" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top">
    <div id="col2">
        <h3>Rick Hiles</h3>
        <p>President</p>
        <p>Email: Rickhiles1@aol.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="Frank Jones, Jr." border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>Frank Jones, Jr.</h3>
        <p>Vice President:</p>
        <p>Email: jjohnson@recrenoics.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=http://wlex.images.worldnow.com/images/13742621_vkf.jpg alt="Dale Romans" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>Dale Romans</h3>
        <p>Vice President:</p>
        <p>Email: dalerracing@aol.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="Martin Maline" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>Martin Maline</h3>
        <p>Executive Director:</p>
        <p>Email: kymarty@aol.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="John Griffith" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>John Griffith</h3>
        <p>Treasurer:</p>
        <p>Email: Margaritaville52@yahoo.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAA01AAAAJDcwMGE5ZDZjLTRlNzEtNDI4My05MWM1LTM2MGI1MmJhNjA2Yw.jpg alt="Sara Toomey" border="0" width="114">
        </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>Sara Toomey</h3>
        <p>Executive Assistant:</p>
        <p>Email: KentuckyHBPA@gmail.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="Mark C. Bacon" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>Mark C. Bacon</h3>
        <p>Owner Director:</p>
        <p>Email: Mark_Bacon@B-F.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="F. Thomas Conway" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>F. Thomas Conway</h3>
        <p>Owner Director:</p>
        <p>Email: FTConway@yahoo.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="Travis Foley Jr." border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>Travis Foley Jr.</h3>
        <p>Owner Director:</p>
        <p>Email: G.Foley@gregfoleyracing.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="William (Buff) Bradley" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>William (Buff) Bradley</h3>
        <p>Trainer Director:</p>
        <p>Email: buffracing@aol.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="William R. Connelly" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>William R. Connelly</h3>
        <p>Trainer Director:</p>
        <p>Email: BillConnelly1956@gmail.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="John Hancock" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>John Hancock</h3>
        <p>Trainer Director:</p>
        <p>Email: JADstables@hotmail.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="Ken McPeek" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>Ken McPeek</h3>
        <p>Trainer Director:</p>
        <p>Email: kenny@mcpeekracing.com</p>
        <hr>
    </div>
</td>

<td style="vertical-align:top;">
    <div id="col1">
        <img src=https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png alt="R.C Sturgeon" border="0" width="114">
    </div>
</td>
<td style="vertical-align:top;">
    <div id="col2">
        <h3>R.C Sturgeon</h3>
        <p>Alternate Trainer Director:</p>
        <p>Email: bobbysturgeon@gmail.com</p>
        <hr>
    </div>
</td>