
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@Html.Partial("_ContactForm")

<p><center><img class="size-medium wp-image-1901 aligncenter" src="/wp-content/uploads/office-300x225.jpg" alt="office" width="300" height="225" srcset="http://nationalhbpa.com/wp-content/uploads/office-300x225.jpg 300w, http://nationalhbpa.com/wp-content/uploads/office.jpg 382w" sizes="(max-width: 300px) 100vw, 300px" /></center></p>
<p>Kentucky HBPA welcomes inquiries from our members and the general public on matters of concern to the Thoroughbred industry. Our contact information is listed below, or please use the form at the bottom of the page to send us your comments directly through this web site.</p>
<hr />
<p>
    <strong>Kentucky HBPA</strong><br />
    3729 S. Fourth St.<br />
    Louisville, KY 40214-1712<br />
    <a href="mailto:Kentuckyhbpa@gmail.com" target="_blank">Kentuckyhbpa@gmail.com</a>
</p>
<p>
    This office is open year round, Monday thru Friday from 8:30am to 4:00pm<br />
    Phone: 502-363-1077<br />
    Toll Free: 800-928-4272<br />
    Fax: 502-367-6800
</p>
<hr />
<p style="text-align: center;">
    <strong>CHURCHILL DOWNS BACKSIDE OFFICE</strong><br />
    502-637-7935 \ fax 502-637-7935<br />
    Open year round, Wednesday thru Sunday from 8:30am to 5:30pm
</p>
<p style="text-align: center;">
    <strong>TRACKSIDE &#8211; Louisville</strong><br />
    502-964-5361 \ fax 502-964-7967<br />
    Open year round, Tuesday thru Sunday from 9:30am to 1:30pm
</p>
<p style="text-align: center;">
    <strong>THE THOROUGHBRED CENTER &#8211; Lexington</strong><br />
    859-293-5672 \ fax 859-293-5672<br />
    Open year round, Monday thru Friday from 9:00am to 1:00pm
</p>
<hr />
<p style="text-align: center;"><strong>VISIT OUR OFFICES AT ALL KENTUCKY TRACKS, OPEN DURING EACH TRACK&#8217;S LIVE RACING MEET</strong></p>
<p style="text-align: center;">
    <strong>ELLIS PARK &#8211; Henderson</strong><br />
    812-435-8956 \ fax 812-425-1659
</p>
<p style="text-align: center;">
    <strong>KEENELAND &#8211; Lexington</strong><br />
    800-456-3412, ext. 390 \ fax 859-255-0467
</p>
<p style="text-align: center;">
    <strong>TURFWAY PARK &#8211; Florence</strong><br />
    800-733-0200 \ fax 859-371-4086
</p>
<div class="fusion-clearfix"></div>
