@using KYHBPA.Controllers

@{
    ViewBag.Title = "DocumentManagement";
}

<h2>DocumentManagement</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Upload Documents</h4>
    </div>
    <div class="panel-body">
        
    </div>
</div>