@{
    ViewBag.Title = "KYHBPA | Home";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <!--<div class="item active">
            <img src="http://lorempixel.com/1920/500/" alt="Image1">
        </div>

        <div class="item">
            <img src="http://lorempixel.com/1920/501/" alt="Image2">
        </div>

        <div class="item">
            <img src="http://lorempixel.com/1920/502/" alt="Image3">
        </div>

        <div class="item">
            <img src="http://lorempixel.com/1920/503/" alt="Image4">
        </div>-->
        <div class="item active">
            <img src="~/Images/Image1.jpg" alt="Image1" />
        </div>
        <div class="item">
            <img src="~/Images/Image2.jpg" alt="Image2" />
        </div>
        <div class="item">
            <img src="~/Images/Image3.jpg" alt="Image3" />
        </div>
        <div class="item">
            <img src="~/Images/Image4.jpg" alt="Image4" />
        </div>
        <div class="item">
            <img src="~/Images/Image5.jpg" alt="Image5" />
        </div>
        <div class="item">
            <img src="~/Images/Image6.jpg" alt="Image6" />
        </div>
        <div class="item">
            <img src="~/Images/Image7.jpg" alt="Image7" />
        </div>
        <div class="item">
            <img src="~/Images/Image8.jpg" alt="Image8" />
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="jumbotron">

    <img src="~/Images/kyhbpa-logo.png" style="float:left;" alt="KYHBPA Logo" />

    <p class="lead">
        The Kentucky Horsemen's Benevolent and Protective Association (HPBA) provides benevolence to horsemen in need, education and recreation programs to the backstretch,
        and various insurance packages. Horsemen helping Horsemen.
        <a href="/Home/About" class="btn btn-primary btn-lg" style="float:right">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <!--<img src="~/Images/Twitter.png" style="float:right" height="1009" width="360"/>-->
    <div style="float:right">
        <a class="twitter-timeline" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw" data-height="900">
            Tweets by @@KyHBPA
        </a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">
        <h2>Kentucky HBPA Headlines</h2>
        <table class="table">
            <tr>
                <td class="padCols"><img src="~/Images/2-Aug.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/kentucky-downs-to-pay-record-750-for-sixth-through-last-place/" target="_blank">
                        <h5 class="h5News">Kentucky Downs to Pay Record $750 for Sixth through Last Place</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="padCols"><img src="~/Images/20-July.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/kentucky-hbpa-teaming-with-ellis-park-for-college-day-fan-education/" target="_blank">
                        <h5 class="h5News">Kentucky HBPA teaming with Ellis Park for College Day, fan education</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="padCols"><img src="~/Images/1-May.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/seattle-slew-specialty-license-plate-now-available-to-kentucky-drivers/" target="_blank">
                        <h5 class="h5News">Seattle Slew Specialty License Plate Now Available to Kentucky Drivers</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="padCols"><img src="~/Images/20-Apr.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/north-american-racing-academy-looking-for-horses-to-adopt/" target="_blank">
                        <h5 class="h5News">North American Racing Academy Looking for Horses to Adopt</h5>
                    </a>
                </td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="/Home/News">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>National HBPA Headlines</h2>
        <table class="table">
            <tr>
                <td class="padCols"><img src="~/Images/26-Sep.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/national-hbpa-statement-new-tax-regulations-on-winning-bets-helps-entire-industry/" target="_blank">
                        <h5 class="h5News">National HBPA Statement: New Tax Regulations on Winning Bets Helps Entire Industry</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="padCols"><img src="~/Images/21-Sep.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/the-interactive-electronic-edition-of-the-horsemens-journal-fall-2017-issue-is-now-available/" target="_blank">
                        <h5 class="h5News">The Interactive, Electronic Edition of The Horsemen’s Journal Fall 2017 Issue is Now Available</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="padCols"><img src="~/Images/17-Sep.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/penny-chenery-first-lady-of-thoroughbred-racing-dies-at-95/" target="_blank">
                        <h5 class="h5News">Penny Chenery, &#8220;First Lady of Thoroughbred Racing,&#8221; Dies at 95</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="padCols"><img src="~/Images/12-Sep.png" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://nationalhbpa.com/toba-honors-top-owners-and-breeders-at-32nd-annual-awards-dinner/" target="_blank">
                        <h5 class="h5News">TOBA Honors Top Owners and Breeders at 32nd Annual Awards Dinner</h5>
                    </a>
                </td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="http://nationalhbpa.com/headlines" target="_blank">See more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get Involved</h2>
        <table class="table">
            <tr>
                <td class="padCols"><img src="~/Images/Sports-betting-board.jpg" height="69" width="91" /></td>
                <td class="padCols">
                    <a href="http://www.lrc.ky.gov/record/16RS/HB155.htm" target="_blank">
                        <h5 class="h5News">
                            Click here to support HB155 to allow sports betting at tracks and off-track facilities
                        </h5>
                    </a>
                </td>
            </tr>
            <tr>
        </table>
        <p><a class="btn btn-default" href="/Home/">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Latest Poll</h2>
        <table class="table">
            <tr>
                <td>
                    <h4>What color should we paint the office?</h4>
                    <input id="RadioBLue" type="radio" /> Blue <br>
                    <input id="RadioGreen" type="radio" /> Green<br>
                    <input id="RadioYellow" type="radio" /> Yellow<br>
                    <input id="RadioOther" type="radio" /> Other<br>
                    <input id="SubmitPoll" type="submit" value="Submit Poll" />
                </td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="/Home/Poll">See All Polls &raquo;</a></p>
    </div>
</div>