<div class="body-content-padded">
    <div class="bg-image-mask"></div>

    <div class="page-header">
        <center><h1>Jockey Profile</h1></center>
        <p class="sub-title"><em></em></p>
    </div>
    <center>

        <div class="col-sm-3">
            <img src="~/Images/Jockey1.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
            <div class="table">
                <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                    <center><p class="h3"> Mike Benedetto</p></a></center>
                </div>
                <p>
                    <strong>Place of Birth:</strong><br> Louisville, KY
                </p>
                <p>
                    <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                </p>
                <p>
                    <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                </p>
                <p>
                    <strong>First Win:</strong><br> Kentucky Derby 2017
                </p>
                <p>
                </p>
                <p>
                    <strong>Churchill Downs Highlights:</strong><br>Awards</p>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Jockey2.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
            <div class="table">
                <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                    <center><p class="h3">Corey Cooley </p></a></center>
                </div>
                <p>
                    <strong>Place of Birth:</strong><br> Louisville, KY
                </p>
                <p>
                    <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                </p>
                <p>
                    <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                </p>
                <p>
                    <strong>First Win:</strong><br> Kentucky Derby 2017
                </p>
                <p>
                </p>
                <p>
                    <strong>Churchill Downs Highlights:</strong><br>Awards
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Jockey3.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
            <div class="table">
                <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                    <center><p class="h3">John Hopson </p></a></center>
                </div>
                <p>
                    <strong>Place of Birth:</strong><br> Louisville, KY
                </p>
                <p>
                    <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                </p>
                <p>
                    <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                </p>
                <p>
                    <strong>First Win:</strong><br> Kentucky Derby 2017
                </p>
                <p>
                </p>
                <p>
                    <strong>Churchill Downs Highlights:</strong><br>Awards
                </p>
            </div>
            </div>
            <div class="col-sm-3">
                <img src="~/Images/Jockey4.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
                <div class="table">
                    <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                        <center><p class="h3">Andrew Walz </p></a></center>
                    </div>
                    <p>
                        <strong>Place of Birth:</strong><br> Louisville, KY
                    </p>
                    <p>
                        <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                    </p>
                    <p>
                        <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                    </p>
                    <p>
                        <strong>First Win:</strong><br> Kentucky Derby 2017
                    </p>
                    <p>
                    </p>
                    <p>
                        <strong>Churchill Downs Highlights:</strong><br>Awards
                    </p>
                </div>
                </div>
        <div class="col-sm-3">
            <img src="~/Images/Jockey1.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
            <div class="table">
                <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                    <center><p class="h3"> Mike Benedetto</p></a></center>
                </div>
                <p>
                    <strong>Place of Birth:</strong><br> Louisville, KY
                </p>
                <p>
                    <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                </p>
                <p>
                    <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                </p>
                <p>
                    <strong>First Win:</strong><br> Kentucky Derby 2017
                </p>
                <p>
                </p>
                <p>
                    <strong>Churchill Downs Highlights:</strong><br>Awards
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Jockey2.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
            <div class="table">
                <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                    <center><p class="h3">Corey Cooley </p></a></center>
                </div>
                <p>
                    <strong>Place of Birth:</strong><br> Louisville, KY
                </p>
                <p>
                    <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                </p>
                <p>
                    <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                </p>
                <p>
                    <strong>First Win:</strong><br> Kentucky Derby 2017
                </p>
                <p>
                </p>
                <p>
                    <strong>Churchill Downs Highlights:</strong><br>Awards
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Jockey3.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
            <div class="table">
                <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                    <center><p class="h3">John Hopson </p></a></center>
                </div>
                <p>
                    <strong>Place of Birth:</strong><br> Louisville, KY
                </p>
                <p>
                    <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                </p>
                <p>
                    <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                </p>
                <p>
                    <strong>First Win:</strong><br> Kentucky Derby 2017
                </p>
                <p>
                </p>
                <p>
                    <strong>Churchill Downs Highlights:</strong><br>Awards
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/Jockey4.jpg" alt="" data-mh="bottomTextStyle" style="height: 242px; width: 275px;">
            <div class="table">
                <div class="cell" data-mh="bottomTextStyle" style="height: 50px">
                    <center><p class="h3">Andrew Walz </p></a></center>
                </div>
                <p>
                    <strong>Place of Birth:</strong><br> Louisville, KY
                </p>
                <p>
                    <strong>City of Residence:</strong><br>Atlanta, GA<u></u>
                </p>
                <p>
                    <strong># Years as a <span class="il">Jockey</span>:</strong><br> -
                </p>
                <p>
                    <strong>First Win:</strong><br> Kentucky Derby 2017
                </p>
                <p>
                </p>
                <p>
                    <strong>Churchill Downs Highlights:</strong><br>Awards
                </p>
            </div>
        </div>


</center>
</div>