@using KYHBPA.Models
@model IEnumerable<KYHBPA.Models.Document>

@{
    ViewBag.Title = "PhotoGallery | KYHBPA";
}

<div class="body-content-padded">
    <h2>Photo Gallery</h2>
    <div class="photo-gallery">
        <table>
            <tr>
                <td>
                    @foreach (var photo in Model)
                    {
                        @Html.Partial("_FetchImage", photo)
                    }
                </td>
                <td>
                    @foreach (var photo in Model)
                    {
                        @Html.Partial("_FetchImage", photo)
                    }
                </td>
                <td>
                    @foreach (var photo in Model)
                    {
                        @Html.Partial("_FetchImage", photo)
                    }
                </td>
            </tr>
        </table>
    </div>
</div>
&nbsp;