@using KYHBPA.Models
@model IEnumerable<KYHBPA.Models.Document>

@{
    ViewBag.Title = "PhotoGallery | KYHBPA";
}

<div class="row">
    <div class="body-content-padded">
        <h2>Photo Gallery</h2>
        @foreach (var photo in Model)
        {
            @Html.Partial("_FetchImage", photo)
        }
    </div>
</div>