@using KYHBPA.Models
@model IEnumerable<KYHBPA.Models.Document>

@{
    ViewBag.Title = "PhotoGallery | KYHBPA";
}

<div class="body-content-padded">
    @*<div class="photo-gallery">*@
        @foreach (var photo in Model)
        {
            @Html.Partial("_FetchImage", photo)
        }
    @*</div>*@
</div>
&nbsp;