body {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 2px;
    padding-right: 2px;*/
    width:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Remove all margins*/
.remove-all-margin {
    margin: 0 !important;
}

/*Remove all margins and padding*/
.remove-all-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
}



/*Social Media Button Formatting*/
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

    .btn-social > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2)
    }

    .btn-social.btn-lg {
        padding-left: 61px
    }

        .btn-social.btn-lg > :first-child {
            line-height: 45px;
            width: 45px;
            font-size: 1.8em
        }

    .btn-social.btn-sm {
        padding-left: 38px
    }

        .btn-social.btn-sm > :first-child {
            line-height: 28px;
            width: 28px;
            font-size: 1.4em
        }

    .btn-social.btn-xs {
        padding-left: 30px
    }

        .btn-social.btn-xs > :first-child {
            line-height: 20px;
            width: 20px;
            font-size: 1.2em
        }

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0
}

    .btn-social-icon > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2)
    }

    .btn-social-icon.btn-lg {
        padding-left: 61px
    }

        .btn-social-icon.btn-lg > :first-child {
            line-height: 45px;
            width: 45px;
            font-size: 1.8em
        }

    .btn-social-icon.btn-sm {
        padding-left: 38px
    }

        .btn-social-icon.btn-sm > :first-child {
            line-height: 28px;
            width: 28px;
            font-size: 1.4em
        }

    .btn-social-icon.btn-xs {
        padding-left: 30px
    }

        .btn-social-icon.btn-xs > :first-child {
            line-height: 20px;
            width: 20px;
            font-size: 1.2em
        }

    .btn-social-icon > :first-child {
        border: none;
        text-align: center;
        width: 100% !important
    }

    .btn-social-icon.btn-lg {
        height: 45px;
        width: 45px;
        padding-left: 0;
        padding-right: 0
    }

    .btn-social-icon.btn-sm {
        height: 30px;
        width: 30px;
        padding-left: 0;
        padding-right: 0
    }

    .btn-social-icon.btn-xs {
        height: 22px;
        width: 22px;
        padding-left: 0;
        padding-right: 0
    }

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2)
}

    .btn-facebook:focus, .btn-facebook.focus {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-facebook:hover {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2)
    }

        .btn-facebook:active:hover, .btn-facebook.active:hover, .open > .dropdown-toggle.btn-facebook:hover, .btn-facebook:active:focus, .btn-facebook.active:focus, .open > .dropdown-toggle.btn-facebook:focus, .btn-facebook:active.focus, .btn-facebook.active.focus, .open > .dropdown-toggle.btn-facebook.focus {
            color: #fff;
            background-color: #23345a;
            border-color: rgba(0,0,0,0.2)
        }

    .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
        background-image: none
    }

    .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled].focus, fieldset[disabled] .btn-facebook.focus {
        background-color: #3b5998;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-facebook .badge {
        color: #3b5998;
        background-color: #fff
    }

.btn-instagram {
    color: #fff;
    background-color: #3f729b;
    border-color: rgba(0,0,0,0.2)
}

    .btn-instagram:focus, .btn-instagram.focus {
        color: #fff;
        background-color: #305777;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-instagram:hover {
        color: #fff;
        background-color: #305777;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
        color: #fff;
        background-color: #305777;
        border-color: rgba(0,0,0,0.2)
    }

        .btn-instagram:active:hover, .btn-instagram.active:hover, .open > .dropdown-toggle.btn-instagram:hover, .btn-instagram:active:focus, .btn-instagram.active:focus, .open > .dropdown-toggle.btn-instagram:focus, .btn-instagram:active.focus, .btn-instagram.active.focus, .open > .dropdown-toggle.btn-instagram.focus {
            color: #fff;
            background-color: #26455d;
            border-color: rgba(0,0,0,0.2)
        }

    .btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
        background-image: none
    }

    .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled.focus, .btn-instagram[disabled].focus, fieldset[disabled] .btn-instagram.focus {
        background-color: #3f729b;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-instagram .badge {
        color: #3f729b;
        background-color: #fff
    }

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2)
}

    .btn-twitter:focus, .btn-twitter.focus {
        color: #fff;
        background-color: #2795e9;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-twitter:hover {
        color: #fff;
        background-color: #2795e9;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
        color: #fff;
        background-color: #2795e9;
        border-color: rgba(0,0,0,0.2)
    }

        .btn-twitter:active:hover, .btn-twitter.active:hover, .open > .dropdown-toggle.btn-twitter:hover, .btn-twitter:active:focus, .btn-twitter.active:focus, .open > .dropdown-toggle.btn-twitter:focus, .btn-twitter:active.focus, .btn-twitter.active.focus, .open > .dropdown-toggle.btn-twitter.focus {
            color: #fff;
            background-color: #1583d7;
            border-color: rgba(0,0,0,0.2)
        }

    .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
        background-image: none
    }

    .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled.focus, .btn-twitter[disabled].focus, fieldset[disabled] .btn-twitter.focus {
        background-color: #55acee;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-twitter .badge {
        color: #55acee;
        background-color: #fff
    }

/*Slider Formatting
body-slider {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

#slider {
    display: block;
    height: 350px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 60px;
    position: relative;
}

    #slider #slides {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

        #slider #slides > div {
            list-style: none;
            height: 100%;
            width: 500%;
            position: relative;
            left: 0px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* Set 3D perspective since we're using 3D transforms */
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            -webkit-perspective: 600px;
            -moz-perspective: 600px;
            perspective: 600px;
            -webkit-perspective-origin: 10% 50%;
            -moz-perspective-origin: 10% 50%;
            perspective-origin: 10% 50%;
        }

#slides > div > span {
    /* Run the tranistions 
    -webkit-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -moz-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -o-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    height: 320px;
    width: 10%;
    float: left;
    border-radius: 5px;
    opacity: 1;
    overflow: hidden;
    display: block;
    position: relative;
    font-size: 1.6em;
    top: 20px;
    z-index: 1;
}

/* Display none, so the user doesn't see whats happening with the radio buttons 
#slider input[type=radio] {
    display: none;
}

#slider #slides > div > span > img {
    margin: auto;
    height: 100%;
}

/* Style the arrows so they look nice! 
#slider .arrows {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 290px;
    display: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    z-index: 9999;
    width: 29px;
    height: 25px;
    border-radius: 32px;
    text-align: center;
    padding: 7px 0 0 3px;
    background: black;
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px 11px 24px -8px rgba(255,255,255,0.4);
}

    #slider .arrows:hover {
        box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px -11px 24px -8px rgba(255,255,255,0.4);
    }

/* The info boxes 
#slides .info {
    width: 100%;
    padding: 20px 20px 25px 20px;
    position: relative;
    bottom: 120px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    -webkit-transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
    transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
    color: #fff;
    font-weight: bold;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    line-height: 30px;
}

    #slides .info strong {
        border-bottom: 2px solid #fff;
        padding: 3px 0;
    }

    #slides .info em {
        font-size: 0.8em;
        float: right;
        padding-top: 4px;
        color: rgba(255,255,255,0.2);
    }

/* This is for positioning the arrows 
#button-1:checked ~ #arrow-2, #button-2:checked ~ #arrow-3, #button-3:checked ~ #arrow-4, #button-4:checked ~ #arrow-5 {
    right: 27%;
    display: block;
}

/* Since there is no previous sibling selector in CSS, we have to select the correct arrow, reposition it and rotate it 180deg so it appears as though it's a back arrow 
#button-2:checked ~ #arrow-1, #button-3:checked ~ #arrow-2, #button-4:checked ~ #arrow-3, #button-5:checked ~ #arrow-4 {
    left: 27%;
    display: block;
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px -11px 24px -8px rgba(255,255,255,0.4);
}

    #button-2:checked ~ #arrow-1:hover, #button-3:checked ~ #arrow-2:hover, #button-4:checked ~ #arrow-3:hover, #button-5:checked ~ #arrow-4:hover {
        box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px 11px 24px -8px rgba(255,255,255,0.4);
    }

/* The images used in the slides, feel free to change this 
#image-1 {
    background: url('~/Images/partners-ChurchillDowns.png');
}

#image-2 {
    background: url('~/Images/partners-EllisPark.png');
}

#image-3 {
    background: url('~/Images/partners-Thoroughbred.png');
}

#image-4 {
    background: url('~/Images/partners-Keeneland.png');
}

#image-5 {
    background: url('~/Images/partners-Turfway.png');
}

/* The next bit is a bit wordy, but it just positions the slides at either side of the selected slide 
   so we get a cool 3D effect 
#slider #button-1:checked ~ #slides > div #image-2, #slider #button-1:checked ~ #slides > div #image-3,
#slider #button-1:checked ~ #slides > div #image-4, #slider #button-1:checked ~ #slides > div #image-5,
#slider #button-2:checked ~ #slides > div #image-3, #slider #button-2:checked ~ #slides > div #image-4,
#slider #button-2:checked ~ #slides > div #image-5, #slider #button-3:checked ~ #slides > div #image-4,
#slider #button-3:checked ~ #slides > div #image-5, #slider #button-4:checked ~ #slides > div #image-5 {
    -webkit-transform: rotateY(-10deg) scale(0.8) translateX(-10%);
    transform: rotateY(-10deg) scale(0.8) translateX(-10%);
    z-index: 0;
}

#slider #button-2:checked ~ #slides > div #image-1, #slider #button-3:checked ~ #slides > div #image-2,
#slider #button-3:checked ~ #slides > div #image-1, #slider #button-4:checked ~ #slides > div #image-3,
#slider #button-4:checked ~ #slides > div #image-2, #slider #button-4:checked ~ #slides > div #image-1,
#slider #button-5:checked ~ #slides > div #image-4, #slider #button-5:checked ~ #slides > div #image-3,
#slider #button-5:checked ~ #slides > div #image-2, #slider #button-5:checked ~ #slides > div #image-1 {
    -webkit-transform: rotateY(10deg) scale(0.8) translateX(10%);
    transform: rotateY(10deg) scale(0.8) translateX(10%);
    z-index: 0;
}

/* Show the info box when the user selects the slides 
#slider #button-1:checked ~ #slides > div #image-1 .info,
#slider #button-2:checked ~ #slides > div #image-2 .info,
#slider #button-3:checked ~ #slides > div #image-3 .info,
#slider #button-4:checked ~ #slides > div #image-4 .info,
#slider #button-5:checked ~ #slides > div #image-5 .info {
    bottom: 0px;
}

/* .. and finally, move the slides into the correct position when the user clicks the arrow, so the right
   slide is selected 

#slider #button-1:checked ~ #slides > div > span {
    left: 5%
}

#slider #button-2:checked ~ #slides > div > span {
    left: -5%
}

#slider #button-3:checked ~ #slides > div > span {
    left: -15%
}

#slider #button-4:checked ~ #slides > div > span {
    left: -25%
}

#slider #button-5:checked ~ #slides > div > span {
    left: -35%
}

/* ================ IGNORE ================ 

#header {
    width: 100%;
    line-height: 30px;
    margin: 50px auto;
    text-align: center;
}

    #header h1 {
        color: #ea664c;
        font-weight: bold;
        font-size: 4em;
    }

    #header p {
        font-size: 2em;
    }

#travel {
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    font-variant: normal;
    text-decoration: none;
    font-size: 1.5em;
}

    #travel a {
        font-family: 'Georgia', serif;
        text-decoration: none;
        border-bottom: 1px solid #f9f9f9;
        color: #f9f9f9;
    }*/