body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content-padded {
    margin-left: 10%;
    margin-right: 10%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.landing-page {
    background-image: url('/Images/Horse-Racing-Background-33.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

.carousel-title {
    color: #C7A317;
}

.footer {
    /*background: white;*/
    /*margin-left: auto;
    margin-right: auto;*/
    margin-left: 12%;
    margin-right: 12%;
}

.center {
    display: inline;
    float: none;
}

.footer-content {
    margin-left: 12%;
    margin-right: 12%;
}

/*Remove all margins*/
.remove-all-margin {
    margin: 0 !important;
}

/*Remove all margins and padding*/
.remove-all-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
}

/*Social Media Button Formatting*/
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

/*Photo Gallery size and padding*/
.photo-gallery {
    width: 225px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

    .btn-social > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2)
    }

    .btn-social.btn-lg {
        padding-left: 61px
    }

        .btn-social.btn-lg > :first-child {
            line-height: 45px;
            width: 45px;
            font-size: 1.8em
        }

    .btn-social.btn-sm {
        padding-left: 38px
    }

        .btn-social.btn-sm > :first-child {
            line-height: 28px;
            width: 28px;
            font-size: 1.4em
        }

    .btn-social.btn-xs {
        padding-left: 30px
    }

        .btn-social.btn-xs > :first-child {
            line-height: 20px;
            width: 20px;
            font-size: 1.2em
        }

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0
}

    .btn-social-icon > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2)
    }

    .btn-social-icon.btn-lg {
        padding-left: 61px
    }

        .btn-social-icon.btn-lg > :first-child {
            line-height: 45px;
            width: 45px;
            font-size: 1.8em
        }

    .btn-social-icon.btn-sm {
        padding-left: 38px
    }

        .btn-social-icon.btn-sm > :first-child {
            line-height: 28px;
            width: 28px;
            font-size: 1.4em
        }

    .btn-social-icon.btn-xs {
        padding-left: 30px
    }

        .btn-social-icon.btn-xs > :first-child {
            line-height: 20px;
            width: 20px;
            font-size: 1.2em
        }

    .btn-social-icon > :first-child {
        border: none;
        text-align: center;
        width: 100% !important
    }

    .btn-social-icon.btn-lg {
        height: 45px;
        width: 45px;
        padding-left: 0;
        padding-right: 0
    }

    .btn-social-icon.btn-sm {
        height: 30px;
        width: 30px;
        padding-left: 0;
        padding-right: 0
    }

    .btn-social-icon.btn-xs {
        height: 22px;
        width: 22px;
        padding-left: 0;
        padding-right: 0
    }

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2)
}

    .btn-facebook:focus, .btn-facebook.focus {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-facebook:hover {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2)
    }

        .btn-facebook:active:hover, .btn-facebook.active:hover, .open > .dropdown-toggle.btn-facebook:hover, .btn-facebook:active:focus, .btn-facebook.active:focus, .open > .dropdown-toggle.btn-facebook:focus, .btn-facebook:active.focus, .btn-facebook.active.focus, .open > .dropdown-toggle.btn-facebook.focus {
            color: #fff;
            background-color: #23345a;
            border-color: rgba(0,0,0,0.2)
        }

    .btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
        background-image: none
    }

    .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled].focus, fieldset[disabled] .btn-facebook.focus {
        background-color: #3b5998;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-facebook .badge {
        color: #3b5998;
        background-color: #fff
    }

.btn-instagram {
    color: #fff;
    background-color: #3f729b;
    border-color: rgba(0,0,0,0.2)
}

    .btn-instagram:focus, .btn-instagram.focus {
        color: #fff;
        background-color: #305777;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-instagram:hover {
        color: #fff;
        background-color: #305777;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
        color: #fff;
        background-color: #305777;
        border-color: rgba(0,0,0,0.2)
    }

        .btn-instagram:active:hover, .btn-instagram.active:hover, .open > .dropdown-toggle.btn-instagram:hover, .btn-instagram:active:focus, .btn-instagram.active:focus, .open > .dropdown-toggle.btn-instagram:focus, .btn-instagram:active.focus, .btn-instagram.active.focus, .open > .dropdown-toggle.btn-instagram.focus {
            color: #fff;
            background-color: #26455d;
            border-color: rgba(0,0,0,0.2)
        }

    .btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
        background-image: none
    }

    .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled.focus, .btn-instagram[disabled].focus, fieldset[disabled] .btn-instagram.focus {
        background-color: #3f729b;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-instagram .badge {
        color: #3f729b;
        background-color: #fff
    }

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2)
}

    .btn-twitter:focus, .btn-twitter.focus {
        color: #fff;
        background-color: #2795e9;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-twitter:hover {
        color: #fff;
        background-color: #2795e9;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
        color: #fff;
        background-color: #2795e9;
        border-color: rgba(0,0,0,0.2)
    }

        .btn-twitter:active:hover, .btn-twitter.active:hover, .open > .dropdown-toggle.btn-twitter:hover, .btn-twitter:active:focus, .btn-twitter.active:focus, .open > .dropdown-toggle.btn-twitter:focus, .btn-twitter:active.focus, .btn-twitter.active.focus, .open > .dropdown-toggle.btn-twitter.focus {
            color: #fff;
            background-color: #1583d7;
            border-color: rgba(0,0,0,0.2)
        }

    .btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
        background-image: none
    }

    .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled.focus, .btn-twitter[disabled].focus, fieldset[disabled] .btn-twitter.focus {
        background-color: #55acee;
        border-color: rgba(0,0,0,0.2)
    }

    .btn-twitter .badge {
        color: #55acee;
        background-color: #fff
    }