@using KYHBPA.Models
@using KYHBPA.Models.ViewModels
@model KYHBPA.Models.ViewModels.PollViewModel    

<div class="col-md-4">
    <table>
        <tr>
            <td colspan="2"><h4>@Html.DisplayFor(model => model.Question)</h4></td>
        </tr>

        @foreach (PollOption p in Model.PollOptions)
        {
            <tr>
                <td class="col-md-1">
                    @Html.ActionLink("+", "Vote", "PollOption", new { id = p.Id }, new { @class = "btn btn-info btn-xs" })
                </td>
                <td>@p.Title - (@p.Votes)</td>
            </tr>
        }
    </table>
</div>