@using KYHBPA.Models
@using KYHBPA.Models.ViewModels
@model KYHBPA.Models.ViewModels.PollViewModel    

<br/>
<div class="col-md-6">
    <h2>@Model.Name </h2>

    <table class="table">
        <tr>
            <td><h4>@Html.DisplayFor(model => model.Question)</h4></td>
        </tr>

        @foreach (PollOption p in Model.PollOptions)
        {
            <tr>
                <td>
                    @Html.ActionLink("+", "Vote", "PollOption", new { id = p.Id }, new { @class = "btn btn-default" })
                    @p.Title
                </td>
            </tr>
        }
    </table>
</div>