@model IEnumerable<KYHBPA.Models.Poll>

@{
    ViewBag.Title = "PollGallery";
}

<h2 class="col-md-12">Poll Gallery</h2>

@foreach (var item in Model) {

    Html.RenderAction("DisplayPoll", "Poll", new { id = item.Id });
}