@using KYHBPA.Models
@model IEnumerable<KYHBPA.Models.News>

@{
    ViewBag.Title = "News Gallery | KYHBPA";
}

<div class="body-content-padded">
    <h2>News</h2>

    @foreach (var item in Model)
    {
        @Html.Partial("_NewsArticle", item)
    }
</div>