@using KYHBPA.Models
@model IEnumerable<KYHBPA.Models.CallToAction>

@{
    ViewBag.Title = "Calls To Action";
}

<div class="body-content-padded">
    <h2>Calls To Action</h2>

    <div>
        <h4>Legislation, Petitions, and Fundraisers to Consider</h4>

        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Partial("_CallToAction", item)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>